body{
    background-color: #fdf8f3;
    color: #3e3e3e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #F1E9DC;
    padding: 10px 10px;
    text-align: center;
}
header img{
   width: 500px;
   margin-bottom: -65px;
   justify-content: center; 
}
header h1{
    font-size: 42px;
    letter-spacing: 1px;
    color: #3e3e3e;
    margin-bottom: 10px;
}
header p{
    font-size: 16px;
    color: #A66151;
    margin-top: 0;
}
.menu {
    background-color: #F1E9DC;
    padding: 15px 0;
    border-top: 2px dashed #c8b1a3;
    border-bottom: 2px dashed #c8b1a3;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.menu a{
    text-decoration: none;
    color: #3e3e3e;
    font-weight: bold;
    font-size: 18px;
    transition: 0.0s;
}
.menu a:hover{
    color: #a87c5f;
    text-decoration: underline;
}
.sobre-marginalo{
    background-color: #fcf7f2;
    padding: 20px 10px;
    max-width: 1015px;
    margin: 40px auto;
    border: 2px dashed #c8b1a3;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.05);
}
.sobre-marginalo h2{
    font-size: 24px;
    text-align: center;
    color: #3e3e3e;
}
.sobre-marginalo p{
    text-align: center;
}
.catalogo{
    display: flex;
    justify-content: center; 
    align-items: nowrap;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 50px 20px;
    flex-direction: row;
    border: 2px dashed #c8b1a3;
    border-radius: 12px;
}
.catalogo h2{
    font-size: 24px;
    color: #3e3e3e;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}
.catalogo .producto {
    background-color: #fcf7f2;
    border: 2px dashed #c8b1a3;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba( 0, 0, 0, 0.05);
    max-width:250px;
}
.catalogo .producto img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.catalogo .producto h3{
    color: #3e3e3e;
    margin-bottom: 10px;
    font-size: 24px;
}
.catalogo .producto p{
    padding: 10px;
    color: #3e3e3e;
    font-size: 16px;
    line-height: 1.4;
}
.feria{ 
    background-color: #fdf8f3;
    padding: 40px 20px;
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
    border: 2px dashed #c8b1a3;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.05);
}
.feria h2{
    font-size: 32px;
    color: #3e3e3e;
    margin-bottom: 20px;
}
.feria p{
    font-size: 18px;
    line-height: 1.6;
    color: #3e3e3e;
    max-width: 800px;
    margin: 30px auto 30px auto;
}
.feria img{
    width: 450px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.08);
}
.contacto{
    background-color: #fcf7f2;
    padding: 15px 10px;
    max-width: 1015px;
    margin: 40px auto;
    border: 2px dashed #c8b1a3;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba( 0, 0, 0, 0.05);
    text-align: center;
}
.contacto h2{
    font-size: 28px;
    color: #3e3e3e;
    margin-bottom: 20px; 
}
.contacto p{
    font-size: 16px;
    color: #3e3e3e;
    margin-bottom: 20px;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}
.boton-contacto{
    display:inline-block;
    padding: 12px 24px;
    background-color: #a87c5f;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s;
    margin-top: 20px;
}
.boton-contacto:hover{
    background-color: #8b9985;
}
footer{
    background-color: #F1E9DC;
    color: #F1E9DC;
    padding: 10px 10px;
    text-align: center;
    border-top: 2px dashed #c8b1a3;

}
footer p{
    font-size: 16px;
    color: #8b9985;

}
footer small{
    
    color: #c8b1a3;
    font-size: 14px;
}
.grupo-packs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  background-color: #f5ede4;
  border: 2px dashed #c8b1a3;
  border-radius: 20px;
  margin: 40px;
}
.carrusel-pack {
  background-color: #fcf7f2;
  border: 2px solid #c8b1a3;
  padding: 30px 20px;
  margin: 40px auto;
  max-width: 300px;
  border-radius: 12px;
  text-align: center;
}
.carrusel-pack h3 {
  font-size: 24px;
  color: #a87c5f;
  margin-bottom: 10px;
}
.precio {
  font-size: 18px;
  color: #3e3e3e;
  margin-bottom: 20px;
}
.carrusel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.imagenes {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}
.imagenes img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 10px;
}
/* Ocultamos los radios */
input[type="radio"] {
  display: none;
}

/* Carrusel movimiento manual */
#foto1:checked ~ .imagenes {
  transform: translateX(0%);
}
#foto2:checked ~ .imagenes {
  transform: translateX(-100%);
}
#foto3:checked ~ .imagenes {
  transform: translateX(-200%);
}
#foto4:checked ~ .imagenes {
  transform: translateX(-300%);
}
#foto5:checked ~ .imagenes {
  transform: translateX(-400%);
}
#llama1:checked ~ .imagenes {
  transform: translateX(0%);
}
#llama2:checked ~ .imagenes {
  transform: translateX(-100%);
}
#llama3:checked ~ .imagenes {
  transform: translateX(-200%);
}
#llama4:checked ~ .imagenes {
  transform: translateX(-300%);
}
#llama5:checked ~ .imagenes {
  transform: translateX(-400%);
}
#fuego1:checked ~ .imagenes {
  transform: translateX(0%);
}
#fuego2:checked ~ .imagenes {
  transform: translateX(-100%);
}
#fuego3:checked ~ .imagenes {
  transform: translateX(-200%);
}
#fuego4:checked ~ .imagenes {
  transform: translateX(-300%);
}
#fuego5:checked ~ .imagenes {
  transform: translateX(-400%);
}
.botones {
  margin-top: 10px;
}
.botones label {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #c8b1a3;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.boton-compra {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a87c5f;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.imagenes img{
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 10px;
  }

h2 {
  text-align: center;
  font-size: 30px;
  color: #a87c5f;
  margin-top: 40px;
}
.subtitulo{
    text-align: center;
    font-style: italic;
    color: #888;
    margin-bottom: 30px;
}
.creaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.creaciones img{
    width: 200px;
    height: 260px;
    border-radius: 10px;
}
.texto-feria{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    line-height: 1.6;
}
.direccion-feria {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #5a514a;
}

.direccion-feria a {
  color: #a87c5f;
  text-decoration: underline;
}
.texto-contacto {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  font-size: 18px;
  color: #5a514a;
}

.botones-contacto {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10%;
  flex-wrap: wrap;
}
.botones-contacto a {
  padding: 30px 25px;
  background-color: #a87c5f;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.botones-contacto a:hover {
  background-color: #8b9985;
}